{% if posts|length > 0 %}
<div
  class="flex flex-col mb-4 {% if not with_title %}border-t-4 pt-6{% endif %}"
>
  {% include "loop/title.twig" with { 'title': 'Confira a agenda' } %} {% for
  item in posts %}
  <div class="mb-6 border-b last:border-none pb-3">
    <a href="{{ item.link }}">
      <h3 class="text-lg tracking-tight text-rose-900 font-semibold">
        {{ item.title }}
      </h3></a
    >
    {% if item.localizacao or item.contatos or item.data %}
    <div class="text-sm text-gray-600 tracking-wide mb-1 leading-relaxed">
      {% if item.data %}
      <p class="block">
        <span class="font-semibold">Data: </span>{{ item.data }}
      </p>
      {% endif %} {% if item.localizacao %}
      <p class="block">
        <span class="font-semibold">Local: </span>{{ item.localizacao }}
      </p>
      {% endif %} {% if item.contatos %}
      <p class="block">
        <span class="font-semibold">Contatos: </span>{{ item.contatos }}
      </p>
      {% endif %}
    </div>
    {% endif %}
    <div class="prose prose-rose">{{ item.content }}</div>
  </div>
  {% endfor %}
</div>
{% endif %}
